@use "../base/variables.scss" as *;

.menu-icon {
  position: fixed;
  width: 100%;
  padding: 15px 20px;
  background-image: linear-gradient($primary, rgba(20, 19, 19, 0.612));


  .bars {
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #bcb9b9;
    background-color: rgba(139, 138, 138, 0.714);
    border-radius: 4px;
  }
}