@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;
// @use "../base/utilities.scss" as *;


.menu_area{
  @include flex-content(space-between);
  flex-direction: column;
  position: fixed;
  left: -17rem;
  height: 100vh;
  width: 17rem;
  background-color: $secondary;
  @include transition;
}

@media screen and (min-width: 600px) {
  .menu_area {
    left: 0rem;
    width: 8rem;
  }
}

.menu--expanded {
  width: $default-rem;
  left: 0rem;
}
