@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;



.header_box{
  position: fixed;
  left: -17rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 17rem;
  background-color: $secondary;
  @include transition;
}

@media screen and (min-width: 600px) {
  .header_box {
    left: 0rem;
    width: 8rem;
  }
}